<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <title>thymeleaf错误页面测试</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery.form.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/uploadifive.css" />
    <script type="text/javascript" src="/js/jquery.uploadifive.js"></script>
    <script>
        $(function () {

        })
    </script>
</head>

   <body>
        <p th:text="thymeleaf错误页面测试"/>
            <form action="" enctype="multipart/form-data">

                <div>
                    <label>登录失败(Shiro测试)</label>
                </div>

            </form>

   </body>

</html>