<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <title>thymeleaf测试</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery.form.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/uploadifive.css" />
    <script type="text/javascript" src="/js/jquery.uploadifive.js"></script>
    <script>
        $(function () {

            //文件上传按钮
            $('#uploadBtn').uploadifive({
                'auto': true,		//是否自动上传，默认true
                'uploadScript': '/student/uploadPhoto',	//上传路径(对应controller/action)
                'fileObjName': 'photo',		//file文件对象名称
                'buttonText': '上传照片',	//上传按钮显示文本
                'fileType': 'image/*',		//上传文件类型
                'multi': false,		//是否允许多个文件上传，默认为true
                'fileSizeLimit': 5242880,	//允许文件上传的最大尺寸
                'uploadLimit': 2,		//一次可以上传的最大文件数
                'queueSizeLimit': 2,		//允许队列中存在的最大文件数
                'onUploadComplete': function (file, data) {	//文件上传成功后执行
                    //file--上传的文件对象
                    //data--后台controller返回的数据(一般是响应图片的地址)

                    $('#uploadImg').attr('src',data);		//1.回显,将图片地址设置到img中
                    $("#uploadImage").val(data);		//2.将图片路径设置到隐藏域
                },
                onFallback: function () {		//HTML5 API不支持的浏览器触发
                    $.messager.alert("提示", "该浏览器无法使用!");
                }
            });

        })

    </script>
</head>

   <body>
        <p th:text="thymeleaf测试"/>
            <form action="" enctype="multipart/form-data">

                <div>
                    <label>文件上传(图片)</label>
                    <div>
                        <div>
                            <a href="javascript:;" id="uploadBtn" >上传图片</a>
                        </div>
                        <img alt="" src="" class="uploadImg" id="uploadImg" />
                        <input type="hidden" name="image1" id="uploadImage" />
                    </div>
                </div>

            </form>

   </body>

</html>